<div class="container-fluid explore-section">
<div class="row trip-row explore">
  <div class="trip-container col-md-4">  
    <div class="trip cards">
        <img class="img-responsive other-img"  src="public/images/lake-chelan.jpg" alt="Chelan">
        <button class="add-button">Add</button>
        <h3>Lake Chelan</h3>
        <h5 class="location"><img class="location-icon" src="public/images/location-icon.png"> Lake Chelan</h5>
        <p>Praesent elementum ligula eget quam molestie eleifend. Donec posuere est et faucibus.
        Praesent elementum ligul</p>
        <p class="category">location</p>
        <div class="other-bar"></div>
      </div>
  </div>

  <div class="trip-container col-md-4">  
    <div class="trip cards">
        <img class="img-responsive other-img"  src="public/images/lake-chelan.jpg" alt="Chelan">
        <button class="add-button">Add</button>
        <h3>Lake Chelan</h3>
        <h5 class="location"><img class="location-icon" src="public/images/location-icon.png"> Lake Chelan</h5>
        <p>Praesent elementum ligula eget quam molestie eleifend. Donec posuere est et faucibus.
        Praesent elementum ligul</p>
        <p class="category">location</p>
        <div class="other-bar"></div>
      </div>
  </div>

  <div class="trip-container col-md-4">  
    <div class="trip cards">
        <img class="img-responsive other-img"  src="public/images/lake-chelan.jpg" alt="Chelan">
        <button class="add-button">Add</button>
        <h3>Lake Chelan</h3>
        <h5 class="location"><img class="location-icon" src="public/images/location-icon.png"> Lake Chelan</h5>
        <p>Praesent elementum ligula eget quam molestie eleifend. Donec posuere est et faucibus.
        Praesent elementum ligul</p>
        <p class="category">location</p>
        <div class="other-bar"></div>
      </div>
  </div>

  <div class="trip-container col-md-4">  
    <div class="trip cards">
        <img class="img-responsive other-img"  src="public/images/lake-chelan.jpg" alt="Chelan">
        <button class="add-button">Add</button>
        <h3>Lake Chelan</h3>
        <h5 class="location"><img class="location-icon" src="public/images/location-icon.png"> Lake Chelan</h5>
        <p>Praesent elementum ligula eget quam molestie eleifend. Donec posuere est et faucibus.
        Praesent elementum ligul</p>
        <p class="category">location</p>
        <div class="other-bar"></div>
      </div>
  </div>
</div>{{!--End of row--}}
</div> {{!--End of Trip Container--}}
