<a class="logo-con "  href="home.html"><img class="img-responsive logo-dash logo-home" src="public/images/logo_final_white-02.png"></a>

<div class="jumbotron">
  <div class="container">
    {{#link-to 'trips'}}<div class="row">
      <h1 class="headline">Plan it. Do it. Share it.</h1>
      <p>Modern Fieldtrip is an online platform that allows people to easily plan trips together.</p>
    </div>{{/link-to}}
  </div>
</div>
 <div class="row about trip-row">
  <div class="product-img col-md-6">
    <img src="public/images/mock-4.png">
  </div>
  <div class="col-md-6 mockup-desc">
    <ul>
      <li>Seamlessly create and edit an itinerary with friends.</li>
      <li>Vote items up and down to assemble a list of destinations that appeals to everyone in your group.</li>
      <li>Instantly access your itinerary from anywhere with your mobile phone using the Modern Field Trip mobile app.</li>
      <li>Get up-to-date information on your destinations including Business Hours, Addresses and Directions.</li>
    </ul>
  </div>

</div> 
<div class="container-fluid trip-section">
  <div class="row trip-row">
    <h1 class="recent-trips">Recent Trips</h1>
    <div class="trip-container col-md-4">
      <div class="trip">
        <div class="img-container-trips">
        <img class="img-responsive trip-img"  src="public/images/lake-chelan.jpg" alt="Chelan">
      </div>
        <img class="profile" src="public/images/profile.png">
        <h3>Lake Chelan</h3>
        <h4>By Katie Daiger</h4>
        <p>Praesent elementum ligula eget quam molestie eleifend. Donec posuere est et faucibus.</p>
        <p class="category-field">Fieldtrip</p>
        <div class="fieldtrip-bar"></div>
      </div>
    </div>
    <div class="trip-container col-md-4">
      <div class="trip">
        <div class="img-container-trips">
        <img class="img-responsive trip-img"  src="public/images/pumpkin-farm.jpg" alt="mountain">
      </div>
        <img class="profile" src="public/images/profile-girl.png">
        <h3>Mountain Hike</h3>
        <h4>By Amy Jones</h4>
        <p>Praesent elementum ligula eget quam molestie eleifend. Donec posuere est et faucibus.</p> 
         <p class="category-field">Fieldtrip</p>
        <div class="fieldtrip-bar"></div>
      </div>
    </div>
    <div class="trip-container col-md-4">
      <div class="trip">
        <div class="img-container-trips">
        <img class="img-responsive trip-img"  src="public/images/flower-field.jpg" alt="flower">
      </div>
        <img class="profile" src="public/images/profile-man.png">
        <h3>Tulip Field</h3>
        <h4>By Mike Drew</h4>
        <p>Praesent elementum ligula eget quam molestie eleifend. Donec posuere est et faucibus.</p>
         <p class="category-field">Fieldtrip</p>
        <div class="fieldtrip-bar"></div> 
      </div>
    </div>
    <div class="trip-container col-md-4">
      <div class="trip">
        <div class="img-container-trips">
        <img class="img-responsive trip-img"  src="public/images/kakao.jpg" alt="flower">
      </div>
        <img class="profile" src="public/images/profile-man.png">
        <h3>The Best Spots</h3>
        <h4>By Jed Welling</h4>
        <p>Praesent elementum ligula eget quam molestie eleifend. Donec posuere est et faucibus.</p>
         <p class="category-field">Fieldtrip</p>
        <div class="fieldtrip-bar"></div> 
      </div>
    </div>
    <div class="trip-container col-md-4">
      <div class="trip">
        <div class="img-container-trips">
        <img class="img-responsive trip-img"  src="public/images/Frye_museum.jpg" alt="flower">
        </div>
        <img class="profile" src="public/images/profile.png">
        <h3>The Frye Museum Tour</h3>
        <h4>By Mike Drew</h4>
        <p>Praesent elementum ligula eget quam molestie eleifend. Donec posuere est et faucibus.</p>
         <p class="category-field">Fieldtrip</p>
        <div class="fieldtrip-bar"></div> 
      </div>
    </div>
    <div class="trip-container col-md-4">
      <div class="trip">
        <div class="img-container-trips">
        <img class="img-responsive trip-img"  src="public/images/Town_Hall.jpg" alt="flower">
        </div>
        <img class="profile" src="public/images/profile-girl.png">
        <h3>History Trip</h3>
        <h4>By Mike Drew</h4>
        <p>Praesent elementum ligula eget quam molestie eleifend. Donec posuere est et faucibus.</p>
         <p class="category-field">Fieldtrip</p>
        <div class="fieldtrip-bar"></div> 
      </div>
    </div>
  

  </div>{{!--End of row--}}
</div> {{!--End of Trip Container--}}
<div class="container-fluid contact">
<h3>Made with love at Redesign Seattle Startup Weekend</h3>
</div>
