<div class="container">
  <div class='row center-block'>
  <form role="form">
    <div class="form-group">
      <label for="email">Email address</label>
      {{input type="email" class="form-control" id="email" placeholder="Enter email" value=email}}
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      {{input type="password" class="form-control" id="password" value=password placeholder="Password"}}
    </div>
    <button {{action 'login'}} class="btn btn-default">Login</button>
  </form>
  </div>
</div>
