<div class="container-fluid explore-section">
{{!-- map-extend THIS NEED TO TURN ON AND OFF. OFF being the default --}}
<div class="row trip-row explore map-extend">
  <div class="title">
    <h1>{{name}}</h1>
  </div>
  
  <div class="trip-container col-md-10 col-md-offset-1">
    
    {{#each place in places}}
      {{place-card place=place}}
    {{/each}}
  </div>
</div>{{!--End of row--}}
{{!-- MAP THIS NEED TO TURN ON AND OFF --}}
{{leaflet-map location=location places=places}}
</div> {{!--End of Trip Container--}}
<div class="container-fluid contact">
<h3>Made with love at Redesign Seattle Startup Weekend</h3>
</div>
