<img class="img-responsive card-img" {{bind-attr src=place.photo_url}}>
<button class="add-button">Add</button>
<div class="h-info">
  <h3>{{place.name}}</h3>
  <h4></h4>
  <p>{{place.description}}</p>
</div>
<div class="h-info-category">
  <p class="category">location</p>
  <div class="other-bar"></div>
</div>
<div class="h-info-details">
  <ul>
    <li class="hours">Hours:</li>
    <li class="days"><span class="green">M T W T</span> F S S</li>
    <li class="price">Price: <span class="green">$$</span></li>
    <li class="vote">Votes: <span class="green">3</span></li>
  </ul>
</div>
